@font-face {
  font-family: 'Roboto';
  src: url('Roboto-VariableFont_wdth,wght.ttf');
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a:hover {
  filter: brightness(3);
}

body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto;
  max-width: 80rem;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#copyrightText {
  text-align: center;
}

#featuredProjects {
  align-items: flex-start;
  background-color: darkred;
  color: white;
  flex-direction: column;
}

#jumbotron {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

#jumbotron a {
  color: deepskyblue;
}

#jumbotron h1 {
  margin: 0;
}

#jumbotron p {
  font-size: 2rem;
  margin: 0;
}

#note {
  background-color: yellow;
  color: black;
  padding: 1rem;
}

#note a {
  color: darkblue;
}

#note p {
  margin: 0;
}

#otherProjects {
  background-color: darkblue;
  color: white;
}

.project {
  background-color: #ddd;
  color: black;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.project > * {
  margin: 0;
}

.projectsContainer {
  align-self: stretch;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
}

.projectsSection {
  background-color: grey;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.projectsSection > * {
  margin: 0;
}

.projectsSection a {
  color: deepskyblue;
}

.projectsSection .project a {
  color: darkblue;
}

.tagGo {
  background-color: #00acd7;
  color: white;
}

.tagJavaScript {
  background-color: #f7df1e;
  color: black;
}

.tagLaravel {
  background-color: #f53003;
  color: white;
}

.tagNodeJs {
  background-color: #417e38;
  color: white;
}

.tagPhp {
  background-color: #4f5b93;
  color: white;
}

.tagPreact {
  background-color: #673ab8;
  color: white;
}

.tagRails {
  background-color: #d30001;
  color: white;
}

.tagReact {
  background-color: #61dafb;
  color: black;
}

.tagRuby {
  background-color: #990000;
  color: white;
}

.tagTypeScript {
  background-color: #3178c6;
  color: white;
}

.techTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.techTags a {
  text-decoration: none;
}

.techTags a:hover {
  filter: brightness(0.75);
}

.techTags span {
  border: 1px solid #333;
  display: block;
  font-weight: bold;
  padding: 0.5rem;
}

@media (min-width: 60rem) {
  .projectsContainer:has(> :nth-child(2)) {
    grid-template-columns: repeat(2, 1fr);
  }
}
