@font-face {
  font-family: 'Roboto';
  src: url('Roboto-VariableFont_wdth,wght.ttf');
}

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

body {
  margin: auto;
  max-width: 80rem;
  padding: 1rem;
}

h1 {
  font-size: 5rem;
}

#jumbotron {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

#jumbotron h1 {
  margin: 0;
}

#jumbotron p {
  font-size: 2rem;
  margin: 0;
}

#jumbotron a {
  color: deepskyblue;
}

#note {
  background-color: darkred;
  color: white;
  margin: 1rem 0;
  padding: 1rem;
}

#note p {
  margin: 0;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#ruby {
  background-color: #990000;
  color: white;
}

#rails {
  background-color: #d30001;
  color: white;
}

#javascript {
  background-color: #f7df1e;
  color: black;
}

#nodejs {
  background-color: #689f63;
  color: white;
}

#preact {
  background-color: #673ab8;
  color: white;
}

#go {
  background-color: #00acd7;
  color: white;
}

#typescript {
  background-color: #3178c6;
  color: white;
}

#reactnative {
  background-color: #61dafb;
  color: black;
}

.project {
  background-color: lightgrey;
  flex: 1;
  padding: 0 1rem;
}

.techTags {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.techTags span {
  background-color: white;
  font-weight: bold;
  padding: 0.5rem;
}

@media (min-width: 62.5rem) {
  #projects {
    flex-direction: row;
  }
}
